/* Imports Roboto font in 400 & 700 weight */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Sets universal CSS variables */
:root {
    --color-1: red;
    --color-2: yellow;
    --color-3: green;
    --color-4: blue;
    --white: white;
}

/* Makes every element into a box that includes margins and padding. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ELEMENT FORMATTING */
/* Place all element formatting here. */

/* Effects all elements */
html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
}



/* CLASS FORMATTING */
/* Place all class formatting here. */

.red {
    background-color: var(--color-1);
}

.yellow {
    background-color: var(--color-2);
}

.green {
    background-color: var(--color-3);
}

.blue {
    background-color: var(--color-4);
    color: var(--white);
}

/* ID FORMATTING */
/* Place all id formatting here. */

/* Makes a foundation for all other boxes */
#everythingbox {

}

/* Formats all visible content */
#mainbox {
    /* Adding display: grid; changes the element to a grid container */
    /* All children are now Grid Items */
    display: grid;

    /* Sets row size (auto, px, r/em, %, fr)  */
    grid-template-rows: 1.75fr repeat(2, 1.5fr) repeat(3, 1fr);

    /* Sets column size (auto, px, r/em, %, fr) */
    grid-template-columns: 1fr 2fr repeat(3, 1.5fr) 1fr;

    /* Sets gap between rows */
    row-gap:1rem ;

    /* Sets gap between columns */
    column-gap:1rem ;

    /* Sets gap between rows & columns */
    gap: ;

    /* Sets grid areas  */
    grid-template-areas: 'one one one one one one'
                         ' two six twelve twelve twelve four '
                         'two six eleven eleven eleven four'
                         ' two seven ten five eight four'
                         ' two nine ten five eight four'
                         'three three three three three three';

}

#one {
    /* height: 10rem;
    grid-row-start:1 ;
    grid-row-end:2 ;
    grid-column-start:1 ;
    grid-column-end:7 ;
    grid-row:1 / 2 ;
    grid-column: 1 / 7;
    grid-row: 1 / span 1;
    grid-column:1 / span 6;
    grid-area:1/ 1 / span 1 / span 6;*/
    grid-area: one;
}

#two {
    /*grid-row-start: 2 ;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2 ;
    grid-row: 2 / 6;
    grid-column: 1 / 2;
    grid-row: 2 / span 4 ;
    grid-column: 1 / span 1 ;
    grid-area: 2 / 1 / span 4 / span 1;*/
    grid-area:two;
}

#three {
    /*grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row:6 / 7 ;
    grid-column:1 / 7 ;
    grid-row:6 / span 1 ;
    grid-column: 1 / span 6;
    grid-area:6 / 1 / span 1 / 7;*/
    grid-area:three ;
}

#four {
    /*grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row: 2 / 6;
    grid-column: 6 / 7;
    grid-row: 2 / span 4;
    grid-column: 6 / span 1;
    grid-area:2 / 6 / span 4 / span 1 ;*/
    grid-area:four ;
}

#five {
    /*grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row:4 / 6;
    grid-column: 4 / 5;
    grid-row: 4 / span 2;
    grid-column: 4 / span 1;
    grid-area: 4 / 4 / 6 / ;*/
    grid-area: five;
}

#six {
    /*grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    grid-row:2 / span 2 ;
    grid-column:2 / 1;
    grid-area: 2 / 2 / span 2 / span 1;*/
    grid-area:six ;
}

#seven {
    /*grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
    grid-row:4 / 2 / span 1;
    grid-column: 4 / 2  ;
    grid-area:2 / 4 / span 1 / span 1 ;*/
    grid-area:seven ;
}

#eight {
    /*grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row: 4 / 6;
    grid-column: 5 / 6 ;
    grid-row: 4 / span 2;
    grid-column: 5 / span 1;
    grid-area: 4 / 5/ span 2 / span 1;*/
    grid-area:eight ;
}

#nine {
  /*  grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 5 / 6;
    grid-column:2 / 3;
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    grid-area: 5 / 2 / 6 / 3;*/
    grid-area:nine;
}

#ten {
  /*  grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 4 / 6 ;
    grid-column: 3 / 4;
    grid-row: 4 / span 2;
    grid-column: 3 span 1;
    grid-area: 4 / 3 / 6 / 4;*/
    grid-area:ten;
}

#eleven {
  /*  grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 3 / 4;
    grid-column: 3 / 6;
    grid-row: 3 / span 1;
    grid-column: 3 / span 3;
    grid-area: 3 / 3 / 4 / 6;*/
    grid-area: eleven;
}

#twelve {
    /*grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row:2 / 3;
    grid-column: 3 / 6;
    grid-row: 2 / span 1;
    grid-column: 3 / span 3;
    grid-area: 2 / 3 / 3 / 6;*/
    grid-area:twelve ;
}



/* Changes settings at 768px screen size to 1023px screen size*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Changes the em base and background image*/
    html {
        font-size: ;
    }

    /* Changes the grid layout */
/*
	#mainbox {
        grid-template-rows: ;

        grid-template-columns: ;

		grid-template-areas: '  '
							 '  '
							 '  '
							 '  '
							 '  '
							 '  ';
	}
*/

}


/* Changes settings at 1024px screen size */
@media only screen and (min-width: 1024px) {

    /* Changes the em base and background image*/
    html {
        font-size: ;
    }

    /* Changes the grid layout */
/*
	#mainbox {
        grid-template-rows: ;

        grid-template-columns: ;

		grid-template-areas: '  '
							 '  '
							 '  '
							 '  '
							 '  '
							 '  ';
	}
*/
}
